**/*history
**/__*
*~
.dotnet
.gem
.git-credentials
.vim/plugged
.vim/.*
3D Objects
AppData/Local
AppData/LocalLow
AppData/Roaming/Code/Backups/
AppData/Roaming/Code/Cache/
AppData/Roaming/Code/CachedData/
AppData/Roaming/Code/CachedExtensions/
AppData/Roaming/Code/Cookies*
AppData/Roaming/Code/GPUCache/
AppData/Roaming/Code/Local Storage/
AppData/Roaming/Code/Network Persistent State
AppData/Roaming/Code/Preferences
AppData/Roaming/Code/User/globalStorage/
AppData/Roaming/Code/User/syncLocalSettings.json
AppData/Roaming/Code/User/workspaceStorage/
AppData/Roaming/Code/languagepacks.json
AppData/Roaming/Code/logs/
AppData/Roaming/Code/machineid
AppData/Roaming/Code/storage.json
AppData/Roaming/Intel
AppData/Roaming/Jedi
AppData/Roaming/Macromedia
AppData/Roaming/Visual Studio Setup/
AppData/Roaming/java/
AppData/Roaming/nltk_data
AppData/Roaming/npm-cache/
AppData/Roaming/uTorrent Web/
AppData/Roaming/vstelemetry/
Contacts
Desktop
Downloads
Favorites
Google Drive
IntelGraphicsProfiles
Links
MicrosoftEdgeBackups
Music
NTUSER.DAT*
OneDrive
Pictures
Saved Games
Searches
Videos
ntuser*
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
ntuser.pol
.scoop
.viminfo
.rustup
scoop
.vscode/extensions
.eslintrc.json 
.[A-Z]*20[1-2]*
.angular-config.json 
.azure-kubectl
.azure
.cargo
.config\configstore
.config\hub
.config\octave
.config\scoop
Boostnote
Documents
_netrc
hirschberg.ts
ngproj.xml
AppData/Roaming/Adobe
.vsts
.ssh
.templateengine
.nuget
.multirust
.matplotlib
.kube
.dbshell
.emacs.d
.hex
.ipython
.mix
AppData\Roaming\.emacs.d
AppData/Roaming/Battle.net
AppData/Roaming/Code/rapid_render.json
AppData/Roaming/GIMP
AppData/Roaming/GitHub Desktop
AppData/Roaming/JetBrains
AppData/Roaming/Logishrd
AppData/Roaming/Logitech
AppData/Roaming/MongoDB Compass Community
AppData/Roaming/Mozilla
AppData/Roaming/NuGet
AppData/Roaming/Oni
AppData/Roaming/Origin
AppData/Roaming/Postman
AppData/Roaming/Python
AppData/Roaming/ScriptedHost
AppData/Roaming/Skype
AppData/Roaming/StorageExplorer
AppData/Roaming/Victor Vran
AppData/Roaming/azuredatastudio
AppData/Roaming/cabal
AppData/Roaming/discord
AppData/Roaming/local
AppData/Roaming/npm
AppData/Roaming/runic games
