# vim:sw=2:ts=4:expandtab:foldmethod=indent:
[user]
  name  = Norbert Logiewa
  email = norbertlogiewa96@gmail.com

[core]
  excludesfile = C:\\Users\\Kier\\.gitignore-global

[diff]
  tool       = nvim
  renames    = copies  # Detect copies as well as renames
  algorithm  = minimal
  colorMoved = dimmed_zebra
  indentHeuristic = true
  context    = 2
  wordRegex  = \\w+

[help]
  autoCorrect = 0

[difftool]
  prompt = 1

[log]
  date = human
  abbrevCommit = 1

[status]
  short = 1

[format]
  pretty = %>(16)%ad %Cblue%>(22)%cN%Creset %Cgreen%h%Creset %s

[grep]
  threads = 4
  patternType = extended
  lineNumber = 1

[column]
  ui = auto
  status = auto
  branch = auto

[color]
  ui         = auto
  branch     = auto
  diff       = auto
  grep       = auto
  status     = auto
  showbranch = auto

# best not to touch these (very legible as is)
[color "status"]
  added     = green
  changed   = "yellow bold"
  untracked = "normal bold"
  header    = "white dim"
  nobranch  = "red dim"

# best not to touch these (very legible as is)
[color "branch"]
  current = magenta bold
  local   = normal
  remote  = yellow

[color "grep"]
  match      = yellow
  filename   = magenta
  linenumber = green
  separator  = white

[pager]
  diff        = off
  shortlog    = off
  add         = off
  aliases     = off
  archive     = off
  branch      = off
  checkout    = off
  clone       = off
  commit      = off
  fetch       = off
  gc          = off
  grep        = off
  init        = off
  log         = off
  ls-files    = off
  ls-remote   = off
  merge       = off
  mktag       = off
  mv          = off
  pull        = off
  reflog      = off
  rm          = off
  show-branch = off
  stash       = off
  status      = off
  tag         = off

[alias]
  worddiff = diff --word-diff=color -word-diff-regex="[A-Za-z0-9. ]|[^[:space:]]" 
  # search through history
  find = log -G  
  find-added    = log --diff-filter=A -G  
  find-created  = log --diff-filter=A -G  
  find-deleted  = log --diff-filter=D -G  
  find-removed  = log --diff-filter=D -G  
  find-modified = log --diff-filter=M -G  
  find-changed  = log --diff-filter=M -G  

  unpushed = !git log "$(git for-each-ref --format='%(upstream:short)' $(git symbolic-ref -q HEAD))..HEAD"

  graph = log --graph 
  tree = log --graph 

  root = rev-parse --show-toplevel

  ignored = !git status --ignored | grep -E '^!' | sed -E 's/!! //' | sed -E 's/\\/$//' 
  untracked = ls-files . --ignored --exclude-standard --others
  branches = branch --format='%(if)%(HEAD)%(then)%(color:bold magenta)%(end)%(align:42,left)  %(refname:lstrip=2) %(end) %(color:bold yellow)%(objectname:short=10)%(color:reset) => %(color:bold blue)%(upstream:lstrip=2)'

  contributors = shortlog --summary --numbered

  archive-zip = archive --format=zip --output=bundle.zip --verbose HEAD
  archive-tar = archive --format=tar --output=bundle.tar --verbose HEAD

[credential]
  helper = manager
