set gdefault
set history=1000
set sidescrolloff=30
set hlsearch
set ideamarks
set ignorecase
set lazyredraw
set matchpairs=(:),<:>,{:},[:]
set iskeyword=65-90,97-122,$,_
set noerrorbells
set incsearch
set norelativenumber
set nospell
set nostartofline
set number
set scrolloff=0
set spelllang=en_gb
set selectmode=mouse,key
set surround 
set ideajoin
set virtualedit=all
set sidescroll=1
set sidescrolloff=30
set wildmode=full
set undolevels=9999
set wrap
set nowrapscan
set clipboard+=ideaput
set commentary
set selectmode+=template
